@page "/CreateUser"
@inject IAPICallers.IStudentCaller StudentCaller
@using Astrow.Shared.DTO;
@code {
    private StudentDTO student = new StudentDTO();

    private async Task HandleValidSubmit()
    {
        var createuser = await StudentCaller.CreateStudent(student); 
    }
}
<h3>Create New Student</h3>

<EditForm Model="@student" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="unilogin">Unilogin:</label>
        <InputText id="unilogin" minlength="4" maxlength="12" class="form-control" @bind-Value="student.Unilogin" />
        <ValidationMessage For="@(() => student.Unilogin)" />
    </div>

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <InputText id="firstName" minlength="1" maxlength="20" class="form-control" @bind-Value="student.FirstName" />
        <ValidationMessage For="@(() => student.FirstName)" />
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <InputText id="lastName" minlength="1" maxlength="20" class="form-control" @bind-Value="student.LastName" />
        <ValidationMessage For="@(() => student.LastName)" />
    </div>

    <div class="form-group">
        <label for="housenumber">HouseNumber:</label>
        <InputNumber id="housenumber" class="form-control" @bind-Value="student.HouseNumber" />
        <ValidationMessage For="@(() => student.HouseNumber)" />
    </div>

    <div class="form-group">
        <label for="streetName">Street Name:</label>
        <InputText id="streetName" minlength="1" maxlength="30" class="form-control" @bind-Value="student.StreetName" />
        <ValidationMessage For="@(() => student.StreetName)" />
    </div>

    <div class="form-group">
        <label for="city">City:</label>
        <InputText id="city" minlength="1" maxlength="30" class="form-control" @bind-Value="student.Password" />
        <ValidationMessage For="@(() => student.Password)" />
    </div>
    <div class="form-group">
        <label for="flextotal">Flex:</label>
        <InputDate id="flex" class="form-control" @bind-Value="student.FlexTotal" />
        <ValidationMessage For="@(() => student.FlexTotal)" />
    </div>
    <button type="submit" class="btn btn-primary">Create Student</button>
</EditForm>

