@page "/teachersite"
@using Astrow.Shared.DTO
@using Astrow.Client.Pages.Modals
@inject Astrow.Client.IAPICallers.IStudentCaller studentcaller
@inject IModalService model
<h3>Teacher Site</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Unilogin</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.id</td>
                <td>@student.Unilogin</td>
                <td>@student.FirstName + @student.LastName</td>
                <td>
                    <button @onclick="@(() => PassData(student))" class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary" @onclick="() => UpdateStudent(student.Unilogin)">Update</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private List<DeleteStudentDTO> students = new();
    public DeleteStudentDTO studentid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await InitializeGetStudentList();
    }
    protected async Task InitializeGetStudentList()
    {
        students = await studentcaller.GetAllStudents();
    }
    private void PassData(DeleteStudentDTO student)
    {

        var parameters = new ModalParameters()
            .Add(nameof(DeleteUser.studentDTO), student);
            model.Show<DeleteUser>($"{student.Unilogin}");
            

    }

    public void UpdateStudent(string unilogin)
    {

    }
}
